html, body {
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 1em;
    padding: 0 0 0 0;
    margin: 0 0 0 0; 
    height: 100%;
    width: 100%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: auto;
    flex-basis: auto;
    align-items: stretch;
    padding: 0 12px 0 12px;
}

.flex-container > * {
    flex-grow: 4;
    flex-basis: 100%;   
}

.main {
    padding-left: 12px;
    min-width: 320px;
    max-width: 100%;
    font-size: 1em;
}

.main-text {
    text-align: left;
    background-color: White;
    border: none;
    padding: 0 1em 0 1em;
    max-width: 460px;
}

header {
 background: white;
}

.header {
    border: 0px solid white;
    text-align: left;
}

div.header-div {
}

.header-title-div {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
}

.header_title {
    line-height: 1em;
    border: none;
    text-decoration:none;
    font-size: 2.1em;
    font-weight: 800;
    }

.header_title a {
    text-decoration: none;
}

.header-sub-div {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
}

.header_sub {
    line-height: 0px;
    border: none;
    font-size: 1.4em;
    font-weight: 300;
    }
  
footer {
    background: white;
    font-size: .8em;
    text-align: left;
    letter-spacing: 0.08em;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 12px;
}

@media only screen and (min-width: 600px) {
  footer {
    min-height:100%;
  }
}

.aside1 {
    font-size: 1em;
    background-color: #ffffff;
    text-align: left;
    min-width: 244px;
    max-width: 100%;
}
.aside1 a {
    text-decoration: none;
}

.aside2 {
   font-size: 1em;
   background-color: #ffff;
   text-align: left;
   max-width: 100%;
   min-width: 320px; 
   padding-right: 12px;
   height: min-content;
   width: min-content;
}

h1 {  
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1.2em;
}

h3 {  
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 1em;
    margin: 24 24 14 0;
    font-style: italic;
}

h4 {  
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: .8em;
    margin: 0 0 0 0;
}

a.title-link:active {
  color: black;
}

a.title-link:link {
  color: black;
}

a.title-link:hover {
  text-decoration: none;
}

a.title-link:hover {
  text-decoration: none;
}

a.title-link:visited {
  color: black;
}

a.black {
    color: black;
    }

a:visited {
    color: blue;
}

a.black:visited {
    color: black;
}

a.black:link {
  text-decoration: none;
}


a.black:active {
  color: black;
}

a.black:hover {
    color: black;
    text-decoration: underline;
    text-decoration-skip: ink;
}

a.white:link {
    color: white;
    text-decoration:none;
}

a.white:visited {
    color: white;
    text-decoration:none;
}

a.white:hover {
    color: white;
    text-decoration: none;
    text-decoration-skip: ink;
}

.ink {
  text-decoration-skip: ink;
}

h2.white {  
    color: white;
}


th {
    background: Gainsboro;
    border: 0px solid white;
    font-size: 1em; 
    text-align: center;
    padding: 0.5em;
    font-weight: 600;
}

td {
    border: .8px solid white;
    font-size: 1em; 
    text-align: center;
    font-weight: 300;
    padding: .5em;
}

.scroll-td {
    text-align: center;
    padding: 0;
}

.scroll-code td.scroll-td {
    overflow: scroll;
}

.scroll-code {
    width: 100%;
    table-layout: fixed;
}

table {
  border: 0;
  table-layout: auto;
}

.nested-works {
  border: .8px solid white;
  min-width: 50%;
  max-width: 100%;
}

.nested-works td {
  background: Whitesmoke;
  cell-spacing: 10px;
}

a.nav-button { 
    padding: 12px 12px 12px 24px;
}

div.nav-border {
     border: 3px outset grey;
     max-width: 100%;
     padding: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     font-size: 1em;
}

div.nav-border a {
    display: block;
    height: 100%;
    text-decoration: none; 
}

div.performances {
    background:#454545;
    
}

div.performances:hover {
    background: #575757;
    border-style: inset;
}

div.collaborations {
    background: #454545;
}

div.collaborations:hover {
    background:  #575757;
    border-style: inset;
}

div.links {
    background: #454545;
    
}

div.links:hover {
    background:  #575757;
    border-style: inset;
}

div.about {
    background: #454545;
    color: white;
}

div.about:hover {
    background:  #575757;
    border-style: inset;
    }
    
.about.nav-border {
    color: white;
    
}

.nav {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-weight: 600;
}

.bio-text {
    display: flex;
    max-width: 320px;
    overflow: visible;
    float: left;
    margin-bottom: 24px; 
}

.my-portrait {
    display: inline-flex;
    overflow: visible;
}

img.bio-pic {
    max-height: 377.6px;
    width: auto;
    border-radius: 2em;
    display:block;
    margin: 12 0 0 0;
}

@media all and (min-width: 100px) {
    .aside { flex: 0 auto; }
    .aside1 { order: 3; } 
    .main    { order: 1; }
    .aside2 { order: 2; }
    .footer  { order: 4; }
}

@media all and (min-width: 677px) {
    .main    { flex: 3 0px; }
    .aside1 { order: 1; } 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
}


.video-container {
position: relative;
padding-left: 12px;
padding-top: 30px; height: 0; overflow: hidden;
max-width: 100%;
min-width: 320px;
height: auto;
}

.work-pic {
    max-width: 460px;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
max-width: 100%;
min-width: 320px;
 height: auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.index-pic {
  max-width: 720px;
}

.responsive-video {
   height: 315px;
   max-height:315px;
   width: 100%;
   max-width: 560px;
}

.video-documentation {
    height: 100%;
    min-width: 320px;
}

.photo-documentation {
    overflow: auto;
}
