html, body {
    background-color: whitesmoke;
    margin: 1;
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    flex-basis: auto;
    height: 100%;
    align-items: space-between;

}

.flex-container > * {
    padding: 5px;
    flex-grow: 4;
    flex-basis: 100%;
    
   
}

.main {
    padding: 30px;
    text-align: left;
    background: moccasin;
    
    
}

.header {
    background: lightsalmon;
   
    
}

footer {
    background: lightgreen;
    font-size: 1.3em;
}

.aside1 {
    background: lightskyblue;
    text-align: left;
    width: 1%;
}

.aside2 {
    background: plum;
    width: 10%;
}

h1 {  
    font-family: 'Open Sans', cursive;
    font-weight: bold;
    letter-spacing: px;
    font-size: 2em;
    
}

p { 
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

a {
    font-family: 'Open Sans', sans-serif;
    
}


#nav {
     list-style: none;
}

a:link {
    color: black;
}

.aside1 a:visited {
    color: black;
}

.aside1 a:hover {
    color: darkblue;
}

.aside1 a:active {
    color: red;
} 


@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside1 { order: 1; } 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
}
