html, body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
     
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    flex-basis: auto;
    height: 100%;
    align-items: space-between;
    padding: 12px 12px 0 12px;

}

.flex-container > * {
    flex-grow: 4;
    flex-basis: 100%;
   
}

.main {
    text-align: left;
    background-color: lightgreen;
    border: none;
    padding: 1em 1em 1em 1em;
}

.bio-pic {
    width: 200px;
    height: 200px;
     
    
}

.header {
    background: lightcoral;
    text-align: left;
    border: none;
    max-height: 30%;
    padding-left: 1em;
}
.header_title {
    padding-top: 1em;
    line-height: 1em;
    border: none;
    
    
    }
.header_sub {
    line-height: 1em;
    border: none;
    }
   

}

footer {
    background: white;
    font-size: 1.3em;
}

.aside1 {
    background-color: lightgreen;
    text-align: left;
    max-width: 0;
    
}
.aside1 a {
    font-size: 1.5em;
}

.aside2 {
   background-color: lightskyblue;
    text-align: left;
    


}

h1 {  
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

h3 {  
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2em; 
}

th {
    font-size: .8em; 
    text-align: center;
    padding: .5em;
}

.nav-button { 
    padding: 38px 38px 38px 38px;
    line-height: 98px;
    border: none;

}


}

    
.nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.em;
    padding: 0 0 0 0;
}

a {
    font-family: 'Open Sans', sans-serif;
    
    
}



a:link {
    color: black;
    text-decoration: none;
}

header a:visited {
    color: black;
}


.aside1 a:visited {
    color: black;
}

.aside1 a:hover {
    color: black;
}

.aside1 a:active {
    color: black;
} 


@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside1 { order: 1; } 
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
}
